.dashboard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.dashboard_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--tundora);
    gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.445);
    
}

.dashboard_item > h2{
    color: white;
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.dashboard_item > p{
    color: white;
    
}

.dashboard_item img{
    width: 100%;
    height: 25rem;
    border-radius: 0.5rem;
    box-shadow: 3px 1px 5px 3px rgba(0, 0, 0, 0.445);
}