.menu__lateral {
  width: var(--menu-width);
  height: 100vh;
  background-color: var(--tundora);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  overflow: hidden;
  transform: translateX(-68%);
  transition: transform 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}

.menu__lateral:hover {
  transform: translateX(0);
}

.menu__perfil {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s;
}

.menu__lateral:hover .menu__perfil {
  opacity: 1;
}

.menu__perfil-imagem {
  width: 100px;
}

.menu__perfil-titulo {
  font-weight: 700;
}

.menu__perfil-subtitulo {
  font-size: 12px;
}

.menu__social-media {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.menu__social-media--item {
  transition: 0.45s;
}

.menu__social-media--item:hover {
  opacity: 0.6;
}

.menu-principal__nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-principal__lista {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  transform: translateX(132px);
  transition: transform 0.9s;
}

.menu__lateral:hover .menu-principal__lista {
  transform: translateX(0px);
}

.menu-principal-item {
  display: flex;
  gap: 16px;
  align-items: center;
  transition: transform 0.2s;
}

.menu-principal-item:hover {
  transform: scale(1.1);
}

.menu-principal-svg {
  width: 32px;
}

.menu-principal-link {
  display: flex;
  color: var(--white);
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.6s;
  width: 100%;
}

.menu__lateral:hover .menu-principal-link {
  opacity: 1;
}

.menu__botoes-mode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  opacity: 0;
  transition: opacity 0.6s;
}

.menu__lateral:hover .menu__botoes-mode {
  opacity: 1;
}

.botoes-mode {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-mode--light {
  background-color: var(--white);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.botoes-mode--dark {
  background-color: var(--black);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.menu__lateral-rodape {
  font-size: 12px;
  display: flex;
  margin-bottom: 16px;
  opacity: 0;
  transition: opacity 0.6s;
}

.menu__lateral:hover .menu__lateral-rodape {
  opacity: 1;
}
