@import url('./fontes.css');
@import url('./variaveis.css');
@import url('./reset.css');
@import url('../css/formulario.css');
@import url('../css/tarefas.css');
@import url('../css/menu.css');
@import url('../css/objetivo.css');
@import url('../css/codigo.css');